* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

section {
	padding: 100px 0;
}

body {
	font-family: 'Poppins', sans-serif;
	line-height: 1.2em;
}

img {
	max-width: 100%;
	display: block;
}

header {
	background: white;
}

.container {
	max-width: 900px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.header-flex {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 80px;
}

.nav-list {
	list-style: none;
	display: flex;
	gap: 40px;
}

.nav-list a {
	display: inline-block;
	text-decoration: none;
	color: #1A120B;
	font-size: 16px;
	font-weight: 300;
}

h3 {
	font-family: 'Poltawski Nowy', serif;
	font-size: 20px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

h2 {
	font-family: 'Figtree', sans-serif;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.2em;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.banner {
	background: #C2DEDC;
}

.banner-flex {
	display: flex;
	gap: 50px;
	align-items: center;

}

.left {
	width: 50%;
}

.divider {
	display: inline-block;
	width: 115px;
	height: 2px;
	transform: translateX(-15px);
	margin-bottom: 20px;
	background: #73A9AD;
}

.btn {
	display: inline-block;
	border: 2px solid #73A9AD;
	color: #73A9AD;
	padding: 8px 25px;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s;
	border-radius: 6px;
}

.btn:hover {
	background: #73A9AD;
	color: white;
}

.right {
	width: 50%;
	background-image: url('../images/a.png');
	background-size: cover;
	background-position: center;
	height: 300px;
}