* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-family: 'Barlow', sans-serif;
}

.big-banner {
    background: url("https: //www.shutterstock.com/image-photo/sailboat-sea-evening-sunlight-over-260nw-717244969.jpg") rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    min-height: 100vh;
    padding: 80px 0;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box {
    max-width: 700px;
    text-align: center;
    width: 90%;
}

.text-box h1 {
    text-transform: capitalize;
    font-family: 'Barlow', sans-serif;
    font-size: 45px;
    margin-bottom: 10px;
}

.text-box p {
    font-size: 18;
}

.btn1 {
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    background-color: #30A2FF;
    color: white;
    text-transform: uppercase;
    transition: .5s;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
}

.btn1:hover {
    background-color: white;
    color: black;
}

.container {
    max-width: 900px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.about {
    padding: 80px 0;
}

.about-flex {
    display: flex;
    text-align: center;
    gap: 40px;
}

.left {
    width: 50%;
  background-image: url("assets/images/a.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
}

.right {
    width: 50%;
    text-align: left;
}

.right h2 {
    text-transform: capitalize;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}

.bar {
    background: blue;
    width: 60px;
    height: 3px;
    margin-bottom: 20px;
    transform: translateX(-5px);
}

.right p {
    color: #8D7B68;
    margin-bottom: 20px;
}

.btn2 {
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: #30A2FF;
    color: white;
    text-transform: uppercase;
    transition: .5s;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    border-radius: 10px;
    font-size: 14px;
}

.btn2:hover {
    background-color: white;
    color: black;
}

.cta {
    padding: 150px 0;
    background: url("assets/images/a.jpg")rgba(10, 38, 71, 90%);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
}

.cta h2 {
    text-transform: capitalize;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.cta p {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
}

.btn3 {
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    background-color: orange;
    color: white;
    text-transform: uppercase;
    transition: .5s;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.btn3:hover {
    background-color: white;
    color: black;
    font-size: 18px;
}
